<!-- Breaking News Start -->
    <div class="container-fluid mt-5 mb-3 pt-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div class="section-title border-right-0 mb-0" style="width: 100%; padding-right: 100px;">
                            <h4 class="m-0">{{ node.title.value|t }}</h4>
                        </div>
                        <!-- <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center bg-white border border-left-0"
                            style="width: calc(100% - 180px); padding-right: 100px;">
                            <div class="text-truncate">
                            	<a class="text-secondary font-weight-semi-bold" href="">{{ node.title.value }}</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breaking News End -->


    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- News Detail Start -->
                    <div class="position-relative mb-3">
                    	{% if node.field_news_image is defined and node.field_news_image is not empty %}
                        	<img class="img-fluid w-100" src="{{ node.field_news_image|file_url }}" style="object-fit: cover;">
                        {% endif %}
                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-3">
                            	{% if node.field_news_category is defined and node.field_news_category is not empty %}
		                        	<a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
		                                    href="#">{{ node.field_news_category.0.entity.name.value|t }}</a>
		                        {% endif %}
                                
                                <a class="text-body" href="">{{ date }}</a>
                            </div>
                            <h4 class="mb-3 text-secondary">{{ node.title.value|t }}</h4>
                            
                            {% if node.body.value is defined and node.body.value is not empty %}
                        		{{ node.body.0.value|t }}
                        	{% endif %}

                            
                        </div>
                        <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                        	{% if display_submitted %}
                        		 <div class="d-flex align-items-center">
                            	{{ author_picture }}
                                <!-- <img class="rounded-circle mr-2" src="img/user.jpg" width="25" height="25" alt=""> -->
                                <span>{{ author_name }}</span>
                            </div>
  							{% endif %}

                            <div class="d-flex align-items-center">
                                <!-- <span class="ml-3"><i class="far fa-eye mr-2"></i>12345</span> -->
                                {% if comments is defined and comments is not empty %}
                                <span class="ml-3"><i class="far fa-comment mr-2"></i>{{ comments|length }}</span>
                            {% endif %}
                                
                            </div>
                        </div>
                    </div>
                    <!-- News Detail End -->

                    <!-- Comment List Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                        	<h4 class="m-0 text-uppercase font-weight-bold">
                                {% if comments is defined and comments is not empty %}
                                    {{ comments|length }}
                                {% else %} 
                                   0
                                {% endif %}
                                {{'Comments'|t}}
                            </h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                        	{% if comments is defined and comments is not empty %}
	                        	{% for comment in comments %}
		                            <div class="media mb-4">
		                                <!-- <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;"> -->
		                                <div class="media-body">
		                                    <h6><a class="text-secondary font-weight-bold" href="">{{ comment.name }}</a> <small><i>{{ comment.created|date('F j, Y') }}</i></small></h6>
		                                    <p>{{ comment.comment }}</p>
		                                    <!-- <button class="btn btn-sm btn-outline-secondary">Reply</button> -->
		                                </div>
		                            </div>
	                            {% endfor %}
                            {% endif %}
                            <!-- <div class="media">
                                <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                <div class="media-body">
                                    <h6><a class="text-secondary font-weight-bold" href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                                    <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                        accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                                    <button class="btn btn-sm btn-outline-secondary">Reply</button>
                                    <div class="media mt-4">
                                        <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1"
                                            style="width: 45px;">
                                        <div class="media-body">
                                            <h6><a class="text-secondary font-weight-bold" href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                                            <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor
                                                labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed
                                                eirmod ipsum.</p>
                                            <button class="btn btn-sm btn-outline-secondary">Reply</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!-- Comment List End -->

                    <!-- Comment Form Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">{{'Leave a comment'|t}}</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                        	{{messages}}
                        	{% set news_comment = drupal_form('Drupal\\b24\\Form\\B24NewsComment') %}
                            {{ news_comment }}
                        </div>
                    </div>
                    <!-- Comment Form End -->
                </div>

                {{ drupal_block('first_sidebar_lock') }}

            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->

<style type="text/css">
	.field--name-user-picture>a>img{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    margin-right: 8px;
}
</style>