<!-- Topbar Start -->
    <div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center bg-dark px-lg-5">
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="navbar-nav ml-n2">
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="#">{{ "now"|date('F j, Y') }}</a>
                        </li>
                        <!-- <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="#">Advertise</a>
                        </li> -->
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="{{ base_path }}/about-us">Contact</a>
                        </li>
                        {% if logged_in %}
                        <li class="nav-item">
                            <a class="nav-link text-body small" href="{{base_path}}/user/">My Account</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-body small" href="{{base_path}}/user/login">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 text-right d-none d-md-block">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="navbar-nav ml-auto mr-n2">
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-twitter"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="https://www.facebook.com/B24tvOnline?mibextid=ZbWKwL"><small class="fab fa-facebook-f"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="https://instagram.com/b24tv.rw?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D"><small class="fab fa-instagram"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="https://www.youtube.com/@B24TV"><small class="fab fa-youtube"></small></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row align-items-center bg-white py-3 px-lg-5">
            <div class="col-lg-4">
                <a href="index.html" class="navbar-brand p-0 d-none d-lg-block">
                    <img src="{{base_path}}/{{active_theme_path()}}/img/b24.png" class="logo">
                    <h1 class="m-0 display-4 text-uppercase text-primary text-logo" style="color:#0e597e !important;">B24<span class="text-secondary font-weight-normal" style="color: #858585 !important;">TV</span></h1>
                </a>
            </div>
            <div class="col-lg-8 text-center text-lg-right">
                <!-- <a href="https://htmlcodex.com"><img class="img-fluid" src="{{base_path}}/{{active_theme_path()}}/img/ads-728x90.png" alt=""></a> -->
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
            <a href="index.html" class="navbar-brand d-block d-lg-none" style="width: 75%;">
                <img src="{{base_path}}/{{active_theme_path()}}/img/b24.png" style="width: 20%;">
                <h1 class="m-0 display-4 text-uppercase text-primary text-logo" style="color: #bbbbbb !important;font-size: 18px;top: 4px;left: -12px;">B24<span class="text-secondary font-weight-normal" style="color: #ffd400 !important;">TV</span></h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a href="{{base_path}}" class="nav-item nav-link active">Home</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">News</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="{{ base_path }}/news/africa" class="dropdown-item">Africa</a>
                            <a href="{{ base_path }}/news/business" class="dropdown-item">Business</a>
                            <a href="{{ base_path }}/news/health" class="dropdown-item">Health</a>
                            <a href="{{ base_path }}/news/agriculture" class="dropdown-item">Agriculture</a>
                            <a href="{{ base_path }}/news/international" class="dropdown-item">International</a>
                            <a href="{{ base_path }}/news/love" class="dropdown-item">Love</a>
                            <a href="{{ base_path }}/news/technology" class="dropdown-item">Technology</a>
                            <a href="{{ base_path }}/news/rwanda" class="dropdown-item">Rwanda</a>
                           
                        </div>
                    </div>
                     <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Events</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="{{ base_path }}/events/charity-event" class="dropdown-item">Charity event</a>
                            <a href="{{ base_path }}/events/conference" class="dropdown-item">Conference</a>
                            <a href="{{ base_path }}/events/festival" class="dropdown-item">Festival</a>
                            <a href="{{ base_path }}/events/internal-corporate-event" class="dropdown-item">Internal corporate event</a>
                            <a href="{{ base_path }}/events/networking-event" class="dropdown-item">Networking event</a>
                            <a href="{{ base_path }}/events/product-launch-event" class="dropdown-item">Product launch event</a>
                            <a href="{{ base_path }}/events/team-building-event" class="dropdown-item">Team building event</a>
                            <a href="{{ base_path }}/events/trade-show" class="dropdown-item">Trade show</a>
                            <a href="{{ base_path }}/events/workshop" class="dropdown-item">Workshop</a>
                        </div>
                    </div>

                     <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Entertainment</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="{{ base_path }}/entertainment/comedy" class="dropdown-item">Comedy</a>
                            <a href="{{ base_path }}/entertainment/concert" class="dropdown-item">Concert</a>
                            <a href="{{ base_path }}/entertainment/dance" class="dropdown-item">Dance</a>
                            <a href="{{ base_path }}/entertainment/drama" class="dropdown-item">Drama</a>
                            <a href="{{ base_path }}/entertainment/game" class="dropdown-item">Game</a>
                            <a href="{{ base_path }}/entertainment/karaoke" class="dropdown-item">Karaoke</a>
                            <a href="{{ base_path }}/entertainment/music" class="dropdown-item">Music</a>
                            
                           
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sports</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="{{ base_path }}/sport/basket-ball" class="dropdown-item">Basket ball</a>
                            <a href="{{ base_path }}/sport/cycling" class="dropdown-item">Cycling</a>
                            <a href="{{ base_path }}/sport/soccer" class="dropdown-item">Soccer</a>
                            <a href="{{ base_path }}/sport/swimming" class="dropdown-item">Swimming</a>
                            <a href="{{ base_path }}/sport/track-and-field" class="dropdown-item">Track and field</a>
                            <a href="{{ base_path }}/sport/volley-ball" class="dropdown-item">Volley ball</a>
                            
                        </div>
                    </div>


                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Videos</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="{{ base_path }}/youtube-videos/comedy" class="dropdown-item">Comedy</a>
                            <a href="{{ base_path }}/youtube-videos/interview" class="dropdown-item">Interview</a>
                            <a href="{{ base_path }}/youtube-videos/music-video" class="dropdown-item">Music video</a>
                            <a href="{{ base_path }}/youtube-videos/podcast" class="dropdown-item">Podcast</a>
                            
                        </div>
                    </div>
                    <a href="#" class="nav-item nav-link">Movies Store ( coming soon )</a>
                    <a href="{{ base_path }}/about-us" class="nav-item nav-link">About Us</a>
                </div>
                <div class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 300px;">
                    <input type="text" class="form-control border-0" placeholder="Keyword">
                    <div class="input-group-append">
                        <button class="input-group-text bg-primary text-dark border-0 px-3"><i
                                class="fa fa-search"></i></button>
                    </div>
                    {{elements.languagedropdownswitcher}}
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->